<header class="part-one">
  <div class="row row-cols-1 row-cols-md-2 align-items-center">
    <div class="col bg-red">
      <div class="logo d-flex align-items-center header">
        <img src="../assets/images/logo.png" alt="logo" class="logo-img" />
        <h1>КЛИНИКА НИВА</h1>
      </div>
    </div>
    <nav class="col">
      <ul class="d-flex header gap-5 nav">
        <li>
          <a href="#">Главная</a>
        </li>
        <li>
          <a href="#">Наши услуги</a>
        </li>
        <li>
          <a href="#">О нас</a>
        </li>
        <li>
          <a
            href="tel:89116380363"
            class="btn btn-success btn-bordered btn-white"
          >
            Позвонить
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
