<div class="main">
  <section class="treating">
    <div class="container">
      <header class="part-one">
        <div class="row row-cols-1 row-cols-lg-2 align-items-center">
          <div class="col bg-red">
            <div class="logo d-flex align-items-center header">
              <img src="./assets/images/logo.png" alt="logo" class="logo-img" />
              <h1>КЛИНИКА НИВА</h1>
            </div>
          </div>
          <nav class="col">
            <ul class="d-flex header nav">
              <li (click)="scroll(aboutUs)">О нас</li>
              <li (click)="scroll(services)">Наши услуги</li>
              <li (click)="scroll(contacts)">Контакты</li>
              <li>
                <a
                  href="tel:89116380363"
                  class="btn btn-success btn-bordered btn-white"
                >
                  Позвонить
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="row">
        <div class="col">
          <h2 class="heading" #aboutUs>
            <span style="margin-right: 1rem"
              >ЛЕЧЕНИЕ АЛКОГОЛЬНОЙ ЗАВИСИМОСТИ В</span
            >
            <span class="town-name">В.НОВГОРОДЕ</span>
            <span>
              <!-- <img src="./assets/images/ezik.png" alt="" /> -->
            </span>
          </h2>
        </div>
        <div class="row row-cols-1 row-cols-xl-2 align-items-center">
          <div class="col" style="order: 2">
            <p class="heading-text">
              Квалифицированные врачи г. В.Новгород и Санкт-Петербург
              предоставляют для вас медицинские услуги, приемлемые цены, полную
              анонимность, высокое качество обслуживания.<br />
              Лечение созависимых - бесплатно. Консультация нарколога -
              бесплатно. Психолога - недорого.
            </p>
            <ul class="navigation">
              <li>Быстрый вывод из запоя</li>
              <li>Установка капельницы</li>
              <li>Кодирование</li>
              <li>Помощь нарколога</li>
            </ul>
            <div class="contact">
              <a href="https://wa.me/89116380363?text=Клиника%20НИВА">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
              <a href="viber://chat?number=89116380363">
                <i class="fa-brands fa-viber"></i>
              </a>
              <a href="tg://resolve?domain=TEST">
                <i class="fa-brands fa-telegram"></i>
              </a>
              <a href="mailto:nivaclinic@gmail.com">
                <i class="fa-solid fa-at"></i>
              </a>
            </div>
          </div>

          <div class="col pic-container part-two">
            <div class="row">
              <div class="col">
                <div class="part-two--image-container">
                  <img
                    src="./assets/images/doctors.png"
                    alt="image"
                    class="part-two--image-container-img"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="services" #services>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <h2>Прочие услуги</h2>
        </div>
      </div>
      <div class="row text-center gy-3 row-cols-xl-4">
        <div class="col" *ngFor="let service of serviceCopy" #service>
          <div class="service-container">
            <div
              class="test"
              (mouseover)="activateExtra(service)"
              (mouseleave)="deactivateExtra()"
              style="width: 100%; height: 100%; position: relative; z-index: 2"
            >
              <div class="service-container--img-wrapper">
                <img
                  [src]="service.image"
                  [alt]="service.alt"
                  [ngClass]="{
                    'service-container--img': true,
                    'filter-low-brightnest': extraActivatedNumber == service.id
                  }"
                  width="281"
                  height="322"
                  style="position: relative; z-index: -1"
                />

                <div
                  class="extra"
                  *ngIf="extraActivatedNumber == service.id"
                  style="z-index: -1"
                >
                  <h3>{{ service.title }}</h3>
                  <p>
                    {{ service.text }}
                  </p>
                </div>
                <p
                  *ngIf="extraActivatedNumber != service.id"
                  style="position: relative; z-index: -1"
                >
                  {{ service.title }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="btn btn-success btn-bordered"
        (click)="expandServices()"
        *ngIf="!servicesAreExpended"
      >
        Все услуги
      </button>
      <button
        class="btn btn-outline-warning btn-bordered"
        (click)="shrinkServices()"
        *ngIf="servicesAreExpended"
      >
        Свернуть услуги
      </button>
    </div>
  </section>

  <section class="find-us" #contacts>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <h2>Контакты</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div
            style="
              position: relative;
              overflow: hidden;
              text-align: center;
              border-radius: 1rem;
            "
          >
            <a
              href="https://yandex.ru/maps/org/klinika_niva/1128155577/?utm_medium=mapframe&utm_source=maps"
              style="color: #eee; font-size: 12px; position: absolute; top: 0px"
              >Клиника Нива</a
            ><a
              href="https://yandex.ru/maps/24/veliky-novgorod/category/medical_center_clinic/184106108/?utm_medium=mapframe&utm_source=maps"
              style="
                color: #eee;
                font-size: 12px;
                position: absolute;
                top: 14px;
              "
              >Медцентр, клиника в Великом Новгороде</a
            ><iframe
              src="https://yandex.ru/map-widget/v1/-/CCUBIFFILD"
              width="100%"
              height="400"
              frameborder="1"
              allowfullscreen="true"
              style="position: relative"
            ></iframe>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col">
          <h4>Адреса клиники</h4>
          <address>
            Россия, Новгородская область, Великий Новгород, Нехинская улица, 12
          </address>
          <address>
            Россия, Новгородская область, Великий Новгород, пер. Юннатов, 5
          </address>
        </div>
        <div class="col d-flex align-items-center flex-column gap-2">
          <h4>Номера телефонов</h4>
          <a href="tel:89116380363" class="btn btn-success btn-bordered"
            >+7 (911) 63-80-363</a
          >
          <a href="tel:89116380363" class="btn btn-success btn-bordered">
            +7 (8162) 60-69-38</a
          >
        </div>
        <div class="col d-flex align-items-center flex-column">
          <h4>Дополнительные способы связи</h4>
          <a href="maito:niva-clinic@gmail.com">nivaclinic@gmail.com</a>
        </div>
      </div>
    </div>
  </section>

  <footer class="contact-author">
    <div class="container">
      <!-- <div class="row">
        <div class="col">
          <div class="logo d-flex align-items-center header">
            <img src="./assets/images/logo.png" alt="logo" class="logo-img" />
            <h1>КЛИНИКА НИВА</h1>
          </div>
        </div>
        <div class="col d-flex align-items-center flex-column">
          <h3>Карта сайта</h3>
          <ul>
            <li>
              <a href="#">Главная</a>
            </li>
            <li>
              <a href="#">Наши услуги</a>
            </li>

            <li>
              <a href="#">О нас</a>
            </li>
            <li>
              <a href="#">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="col d-flex align-items-center flex-column">
          <h3>Связаться с нами</h3>
          <ul class="contact-author--phone-email">
            <li>
              <a href="tel:89116380363" class="btn btn-success btn-bordered"
                >+79116380363</a
              >
            </li>
            <li>
              <a href="mailto:niva-clinic@gmail.com">niva-clinic@gmail.com</a>
            </li>
            <ul class="social">
              <li>
                <a href="#">
                  <img src="./assets/images/whatsApp.png" alt="whatsApp" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/whatsApp.png" alt="whatsApp" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/whatsApp.png" alt="whatsApp" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/whatsApp.png" alt="watsApp" />
                </a>
              </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="row">
        <ul>
          <li>
            <p>©Все права защищены 2022 “НАТЕНАДЗЕ”</p>
          </li>
        </ul>
      </div> -->
      <div class="col">
        <p>Copyright 2022 &copy; Клиника Нива</p>
        <p>
          Веб-разработка: Натенадзе Георгий<br />
          <a href="mailto:natenadze1102@gmail.com">natenadze1102@gmail.com</a>
        </p>
      </div>
      <div class="go-to-top" (click)="goToTop()">
        <span>На верх</span>
        <img src="./assets/images/back-to-top.png" alt="back-to-top" />
      </div>
    </div>
  </footer>
</div>
